.FredImg{
  border-radius: 50%;
}
.image-div{
  padding-top: 20px;
  padding-bottom: 20px;
}
.title-text {
  font-family: "Times New Roman", Times, serif;
  font-size: 100px;
  font-weight: bolder;
  color: whitesmoke;
}
.text {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  color: whitesmoke;
}
.title-color {
  background-color: #F7374F;
}
.pictures-color {
  background-color: #88304E;
}
.skills-color {
  background-color: #522546;
}
.container-pictures {
  height: 350px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
}
.GoodGirl {
  height: 200px;
  border-radius: 50%;
}
.GobiSands {
  height: 200px;
  border-radius: 50%;
}
.container-skills {
  height: 350px;
}
.footer-color {
  background-color: #F7374F;
}
@media (max-width: 575px) {

  .container-pictures {
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
  }
  .GoodGirl {
    height: 150px;
  }
  .GobiSands {
    height: 150px;
  }
  .container-skills {
    height: 450px;
  }
}





