.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  height: 200px;
  border-radius: 50%;
}

.container1 {
  background:  #192655;
}

.container2 {
  background: #3876BF;
}

.container3 {
  background: #FFC436;
}

.text {
  color: white;
}



